<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Geolocation Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="addComment()" #commentForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Comment</ion-label>
        <ion-textarea name="textComment" required [(ngModel)]="comment.text" #commentTextModel="ngModel"></ion-textarea>
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="commentTextModel.dirty && commentTextModel.valid"></ion-icon>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Stars</ion-label>
          <ion-input type="number" name="stars" required [(ngModel)]="comment.stars" #numberModel="ngModel" min="1" max="5"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="numberModel.dirty && numberModel.valid"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block" [disabled]="commentForm.invalid">
              <ion-icon name="person" slot="start"></ion-icon>
              Create Comment
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="tertiary" expand="block" [routerDirection]="'root'" (click)="endModal()">
                <ion-icon name="person" slot="start"></ion-icon>
                Cancel
              </ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
