<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" required [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password" required [(ngModel)]="user.password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block" [disabled]="loginForm.invalid">
              <ion-icon name="person" slot="start"></ion-icon>
              Login
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="dark" expand="block" [routerLink]="['/auth/register']" [routerDirection]="'root'">
                <ion-icon name="person" slot="start"></ion-icon>
                Register
              </ion-button>
          </ion-col>
      </ion-row>
      <ion-row padding-top>
          <ion-col>
            <ion-button color="danger" expand="block">
                <ion-icon name="logo-google"></ion-icon>
                Google
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row padding-top>
            <ion-col>
                <ion-button color="primary" expand="block">
                  <ion-icon name="logo-facebook"></ion-icon>
                    Facebook
                  </ion-button>
              </ion-col>
        </ion-row>
    </ion-grid>
  </form>
</ion-content>
