<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>New Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <form #restaurantForm="ngForm" (ngSubmit)="addRest()">
        <div *ngIf="!this.RestaurantService.restaurantEdit || restaurant !== undefined">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" minlength="2" name="name" required [(ngModel)]="newRest.name" #nameModel="ngModel"></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="nameModel.dirty && nameModel.valid"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text" name="description" required minlength="4" [(ngModel)]="newRest.description" #descModel="ngModel"></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="descModel.dirty && descModel.valid"></ion-icon>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Cuisine</ion-label>
              <ion-input type="text" name="cuisine" minlength="1" required [(ngModel)]="cuisine" #cuisineModel="ngModel"></ion-input>
              <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="cuisineModel.dirty && cuisineModel.valid"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Phone</ion-label>
              <ion-input type="text" name="phone" minlength="1" required [(ngModel)]="newRest.phone" #phoneModel="ngModel" pattern="(\+?[0-9]2 ?)?[0-9]{9}"></ion-input>
              <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="phoneModel.dirty && phoneModel.valid"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Days Open</ion-label>
                <div ngModelGroup="daysGroup" #daysModel="ngModelGroup" appOneCheked>
                <ion-item *ngFor="let day of days; let i = index">
                    <ion-label>{{day}}</ion-label>
                    <ion-checkbox slot="end" id="checkDay{{ i }}" [name]="day" [(ngModel)]="daysOpen[i]"></ion-checkbox>
                </ion-item>
              </div>
              </ion-item>
          <ion-item>
            <ion-label position="inset">Photo</ion-label>
            <ion-button color="secondary" (click)="takePhoto()">
              <ion-icon name="camera" slot="start"></ion-icon>
              Camera
            </ion-button>
            <ion-button color="tertiary" (click)="pickFromGallery()">
              <ion-icon name="images" slot="start"></ion-icon>
              Gallery
            </ion-button>
          </ion-item>
          <ion-item>
              <ion-label position="inset">Address</ion-label>
              <ion-button color="tertiary" (click)="getAddress()">
                  <ion-icon name="locate" slot="start"></ion-icon>
                Get Position
              </ion-button>
            </ion-item>
            <ion-item *ngIf="newRest.address !== ''">
                    <ion-text color="success" mode="ios">{{ newRest.address }}</ion-text>
            </ion-item>
        </ion-list>
        <ion-img [src]="newRest.image" *ngIf="newRest.image"></ion-img>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div *ngIf="this.restaurant === undefined">
                  <ion-button type="submit" color="primary" expand="block" [disabled]="restForm.invalid || !newRest.image">
                      <ion-icon name="paper" slot="start"></ion-icon>
                      Add Restaurant
                    </ion-button>
              </div>
              <div *ngIf="this.restaurant !== undefined">
                  <ion-button type="submit" color="primary" expand="block" [disabled]="restForm.invalid || !newRest.image">
                      <ion-icon name="paper" slot="start"></ion-icon>
                      Edit Restaurant
                    </ion-button>
              </div>
            </ion-col>
            <ion-col>
              <ion-button color="danger" expand="block" fill="outline" [routerLink]="['/restaurants']" [routerDirection]="'root'">
                <ion-icon name="undo" slot="start"></ion-icon>
                Cancel
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      </form>
</ion-content>
