<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>My Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s hydrated">
    <ion-card-header class="hydrated">
      <ion-item>
        <ion-avatar slot="start">
            <img [src]="user?.avatar">
      </ion-avatar>
        <ion-label>
            <ion-card-subtitle role="heading" aria-level="3" class="hydrated">{{ user?.email }}</ion-card-subtitle>
            <ion-card-title role="heading" aria-level="2" class="hydrated">{{ user?.name }}</ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="changeProfile($event)"><ion-icon name="person-add"></ion-icon>Change Profile</ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="success" (click)="changeAvatar($event)"><ion-icon name="image"></ion-icon>Change Avatar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="card-content card-content-ios hydrated">
        <mgl-map
        [style]="'mapbox://styles/mapbox/streets-v11'"
        [zoom]="[zoom]"
        [center]="[lng, lat]"
      >
        <mgl-marker [lngLat]="[lng, lat]"></mgl-marker>
      </mgl-map>
    </ion-card-content>
  </ion-card>
</ion-content>
