<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-fab horizontal="end" vertical="top" *ngIf="rest?.mine">
                  <ion-fab-button size="small" (click)="editarRestaurante(rest)">
                      <ion-icon name="create"></ion-icon>
                  </ion-fab-button>
              </ion-fab>
              <ion-img [src]="rest?.image"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                  <ion-badge slot="end" color="success" *ngIf="rest?.daysOpen.includes(weekDay+'')">Open</ion-badge>
                  <ion-badge slot="end" color="danger" *ngIf="!rest?.daysOpen.includes(weekDay+'')">Closed</ion-badge>
                  <h1>{{ rest?.name }}</h1>
                </ion-item>
                  <ion-item>
                      <ion-avatar slot="start">
                        <img [src]="rest?.creator.avatar">
                      </ion-avatar>
                      <ion-label text-wrap>
                        <h3>{{ rest?.creator.name }}</h3>
                        <p>More text</p> 
                      </ion-label>
                      <br>
                    </ion-item>
                    <ion-item>
                        <ion-button color="danger" [routerLink]="['/user', rest.creator.id]" [routerDirection]="'root'"><ion-icon name="person"></ion-icon>View Profile</ion-button>
                    </ion-item>
            </ion-card-content>
            <ion-card-content>
                <b>Address: </b><ion-label>{{ rest?.address }}</ion-label>
                <b>Days open: </b><br><span *ngFor="let day of rest?.daysOpen">
                  {{ days[day] }}
                </span>
                <ion-label><b>Telf: </b>{{ rest?.phone }}</ion-label>
                <div *ngIf="rest.mine">
                    <ion-button color="danger" (click)="borrarRestaurante(rest)">
                        <ion-icon name="trash" color="light"></ion-icon>
                        Borrar
                    </ion-button>
                </div>
                <p>
                <b>Distance: </b><ion-label> {{ rest?.distance }} <b>Km</b></ion-label>
              </p>
              <div>
                <ion-item>
                    <ion-title><b>Description</b></ion-title>
                </ion-item> 
                <ion-text>{{ rest?.description }}</ion-text>
              </div>
            </ion-card-content>
          </ion-card>
      </ion-item>
    </ion-list>
</ion-content>
