<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" color="light">
          <ion-back-button>
              <ion-icon name="arrow-back"></ion-icon>
          </ion-back-button>
        </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" name="name" required [(ngModel)]="user.name" #nameModel="ngModel"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="nameModel.dirty && nameModel.valid"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" name="email1" required [(ngModel)]="user.email" #emailModel="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="emailModel.dirty && emailModel.valid"></ion-icon>
          </ion-item>
        <div ngModelGroup="passGroup" #passGroupModel="ngModelGroup" appMatch="password,password2">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password" minlength="4" required [(ngModel)]="user.password" #passModel1="ngModel"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel1.dirty && passModel1.valid"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repeat Password</ion-label>
        <ion-input type="password" name="password2" required [(ngModel)]="password2" #passModel2="ngModel"></ion-input>
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel2.dirty && passGroupModel.valid"></ion-icon>
    </ion-item>
    </div>
    <ion-item>
      <ion-label position="inset">Avatar</ion-label>
      <ion-button color="secondary" (click)="takePhoto()">
        <ion-icon name="camera" slot="start"></ion-icon>
        Camera
      </ion-button>
      <ion-button color="tertiary" (click)="pickFromGallery()">
        <ion-icon name="images" slot="start"></ion-icon>
        Gallery
      </ion-button>
    </ion-item>
      </ion-list>
      <ion-img [src]="user.avatar" *ngIf="user.avatar"></ion-img>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="success" expand="block" [disabled]="registerForm.invalid">
                <ion-icon name="person" slot="start"></ion-icon>
                Create Account
              </ion-button>
          </ion-col>
          <ion-col>
              <ion-button color="tertiary" expand="block" [routerLink]="['/auth/login']" [routerDirection]="'root'">
                  <ion-icon name="person" slot="start"></ion-icon>
                  Cancel
                </ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
