<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
    <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v11'"
    [zoom]="[zoom]"
    [center]="[lng, lat]"
  >
    <mgl-marker [lngLat]="[lng, lat]"></mgl-marker>
  </mgl-map>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openNavigator()">
          <ion-icon name="navigate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
