<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Restaurant List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-searchbar debounce="500" (ionChange)="filterItems($event)"></ion-searchbar>
        <ion-button size="default" slot="end" (click)="showPopover($event)"><ion-icon name="hammer"></ion-icon></ion-button>
      </ion-item>
        <ion-list-header color="primary">
          <ion-label>Header</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let rest of (rests | restaurantFilter: orderByName:showOpen:search)">
          <ion-card>
              <ion-card-header>
                <ion-fab horizontal="end" vertical="top" *ngIf="rest.mine">
                    <ion-fab-button size="small" (click)="editarRestaurante(rest)">
                        <ion-icon name="create"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <a [routerLink]="['/restaurants/details', rest.id]" [routerDirection]="'root'"><ion-img [src]="rest.image"></ion-img></a>
              </ion-card-header>
              <ion-card-content>
                  <a [routerLink]="['/restaurants/details', rest.id]" [routerDirection]="'root'"><h1>{{ rest.name }}</h1></a>
              </ion-card-content>
              <ion-card-content>
                  <ion-label>Address: {{ rest.address }}</ion-label>
                  Days open: <span *ngFor="let day of rest.daysOpen">
                    {{ days[day] }}
                  </span>
                  <ion-badge slot="end" color="success" *ngIf="rest.daysOpen.includes(weekDay+'')">Open</ion-badge>
                  <ion-badge slot="end" color="danger" *ngIf="!rest.daysOpen.includes(weekDay+'')">Closed</ion-badge>
                  <ion-label>Telf: {{ rest.phone }}</ion-label>
                  <div *ngIf="rest.mine">
                      <ion-button color="danger" (click)="borrarRestaurante(rest)">
                          <ion-icon name="trash" color="light"></ion-icon>
                          Borrar
                      </ion-button>
                  </div>
                  <p>
                      <ion-label><b>Distance: </b> {{ rest?.distance }} <b>Km</b></ion-label>
                    </p>
              </ion-card-content>
            </ion-card>
        </ion-item>
      </ion-list>
</ion-content>
