<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header color="primary">
          <ion-label>Header</ion-label>
        </ion-list-header>
    <ion-item *ngFor="let comment of comments">
        <ion-avatar slot="start">
          <img [src]="comment?.user.avatar">
        </ion-avatar>
        <ion-label text-wrap>
          <h3>{{ comment?.user.name }}</h3>
          <star-rating [rating]="comment?.stars"></star-rating>
          <p>{{ comment?.text }}</p> 
        </ion-label>
      </ion-item>
      </ion-list>
      <ion-fab horizontal="end" vertical="bottom">
        <ion-fab-button size="small" (click)="llamarAgregarComentario()">
            <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
