<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Change Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-button color="tertiary" expand="block" [routerDirection]="'root'" (click)="endModal()">
          <ion-icon name="arrow-back"></ion-icon>
          Cancel
        </ion-button>
        <ion-list>
      <ion-item>
        <ion-label position="inset">Avatar</ion-label>
        <ion-button color="secondary" (click)="takePhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Camera
        </ion-button>
        <ion-button color="tertiary" (click)="pickFromGallery()">
          <ion-icon name="images" slot="start"></ion-icon>
          Gallery
        </ion-button>
      </ion-item>
        </ion-list>
        <div *ngIf="errorAvatar">
            <ion-text color="danger">
              Se ha producido un error al actualizar.
            </ion-text>
        </div>
        <ion-img [src]="user.avatar" *ngIf="user.avatar"></ion-img>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="addPhoto()" color="success" expand="block" [disabled]="!avatarBoolean">
                  <ion-icon name="person" slot="start"></ion-icon>
                  Create Account
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>
  