<div>
  <ion-item (click)="togleShowOpen(showOpen)"><ion-label>Show Open</ion-label></ion-item>
  <ion-item (click)="togleOrderName(orderByName)"><ion-label>Order By Name</ion-label></ion-item>
</div>