<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Restaurant Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="info">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="location">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Location</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="comments">
          <ion-icon name="chatboxes"></ion-icon>
          <ion-label>Comments</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>