<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Geolocation Restaurant</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content fullscreen="fullscreen">
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v11'"
    [zoom]="[zoom]"
    [center]="[lng, lat]"
  >
    <mgl-marker [lngLat]="[lng, lat]"></mgl-marker>
    <mgl-control mglGeocoder (result)="changePosition($event.result)">
    </mgl-control>
  </mgl-map>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="endModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
