<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Change Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-button color="tertiary" expand="block" [routerDirection]="'root'" (click)="endModal()">
          <ion-icon name="arrow-back"></ion-icon>
          Cancel
        </ion-button>
    <form (ngSubmit)="editProfile()" #nameForm="ngForm">
      <ion-list>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" name="name" required [(ngModel)]="user.name" #nameModel="ngModel"></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="nameModel.dirty && nameModel.valid"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" name="email1" required [(ngModel)]="user.email" #emailModel="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="emailModel.dirty && emailModel.valid"></ion-icon>
          </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="success" expand="block" [disabled]="nameForm.invalid">
                <ion-icon name="person" slot="start"></ion-icon>
                Create Comment
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <div *ngIf="errorName">
      <ion-text color="danger">
        Se ha producido un error al actualizar.
      </ion-text>
    </div>
    <form (ngSubmit)="editPassword()" #passwordForm="ngForm">
        <ion-list>
            <div ngModelGroup="passGroup" #passGroupModel="ngModelGroup" appMatch="password,password2">
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" name="password" minlength="4" required [(ngModel)]="password1" #passModel1="ngModel"></ion-input>
                  <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel1.dirty && passModel1.valid"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Repeat Password</ion-label>
                <ion-input type="password" name="password2" required [(ngModel)]="password2" #passModel2="ngModel"></ion-input>
                <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel2.dirty && passGroupModel.valid"></ion-icon>
            </ion-item>
            </div>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="success" expand="block" [disabled]="passwordForm.invalid">
                  <ion-icon name="person" slot="start"></ion-icon>
                  Create Comment
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <div *ngIf="errorPassword">
          <ion-text color="danger">
            Se ha producido un error al actualizar.
          </ion-text>
        </div>
  </ion-content>
  